@import '../../var.scss';
@import '../../mixin.scss';

.nav{
    padding:0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__item{
        display: flex;
        gap: 10px;
        outline: none;
        transition: all 300ms;
        &:hover,
        &:focus{
            transform: translateX(10px);
            outline:none;
        }
    }
    &__link{
        text-decoration: none;
        color:$textColor;
        transition: all 300ms;
    }
    &__link.active{
        @include activeLink;
    }
    
    .fa-solid {
        color: #ffff;
    }
}